body {
    height: 100vh;
    font-family: 'Roboto';
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 18px;
}

ul {
    list-style: none;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 48px;
    flex: 1;
}

.hero-content {
    display: flex;
    gap: 48px;
    padding: 32px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero h1 {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image-container {
    /* background-color: gray; */
    width: 400px;
    height: 150px;
    flex: 1;
    text-align: center;
}

.hero-image {
    max-width: 50%;
    gap: 64px;
}

/* .subject-cards-container {
    padding: 100px;
    gap: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 1;
} */

.cards-container {
    padding: 100px;
    gap: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.cards-container h2 {
    text-align: center;
    margin: auto;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img {
    height: 125px;
    width: 125px;
    border-radius: 15px;
    border-color: #3882F6;
    border-width: 2px;
    border-style: solid;
}

.quote-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px 200px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
    margin-bottom: 0;
}

.quote-origin {
    font-size: 24px;
    font-weight: bold;
    align-self: end;
    margin-top: 0;
}

.call-to-action-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    gap: 64px;
    padding: 64px;
}

.cta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 700px;
    color: #E5E7EB;
}

.cta-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 32px;
}

.cta-text p {
    margin: 0;
}

.cta-header {
    font-weight: bolder;
}

.cta-button {
    border-style: solid;
    border-color: #E5E7EB;
    border-radius: 15px;
    text-align: center;
    width: 100px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #E5E7EB;
}